<config platform="project" template="project (default)">Created: Tue Jul 29 13:37:23 2014
By: dean
Using Template: project (default)

&lt;description to go here><option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value=""/>
    <option fromDef="true" name="name" value="HelloMarm"/>
    <option fromDef="true" name="caption" value="HelloMarm"/>
    <option fromDef="true" name="provider" value="Pleasing Software"/>
    <option fromDef="true" name="copyright" value="(C) Pleasing Software"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
